services:
  postgres:
    image: postgres:12
    restart: always
    env_file:
      - .env
    ports:
    - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - shared_hwc_docker_network
    healthcheck:
      test: pg_isready -U user -d hwc_db
      interval: 3s
      timeout: 2s
      retries: 3

  web:
    build:
      context: .
      target: local
    ports:
      - "8000:8000"
      - "9023:9023"
      - "5678:5678"
    volumes:
      - .:/app
    environment:
      - MONGODB_URL=mongodb://mongodb:27017/catalogs_db?replicaSet=rs0
      - MONGODB_DB=catalogs_db
      - DEBUG=True
      - PYTHONPATH=/app
      - PYTHON_DEBUGGER=True
    depends_on:
      - postgres
    env_file:
      - .env
    networks:
      - shared_hwc_docker_network

volumes:
  postgres_data:
    driver: local

networks:
  shared_hwc_docker_network:
    driver: bridge
